version: "3.9"

services:
  bangla-district-pix:
    container_name: bangla-district-pix
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "8080:80"
    restart: unless-stopped
